/* #contentPlace {
    background-color: #d6c29e;
    border: solid 1px black;
    text-align: left;
    margin: 10px;
    border-radius: 10px;
    padding: 7px 10px 0 10px;
    color: inherit;
    height: max-content;
}

#contentPlace p {
    clear: both;
    overflow: hidden;
} */

#newsInfos {
    background-color: var(--color-A-light-4);
    border: 1px solid var(--color-A-2);
    color: var(--color-A-dark-2);
    font-size: 20px;
    font-weight: 500;
    margin: 15px;
    text-align: start;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

#newsInfos #creator {
    text-align: start;
}

#newsInfos #date {
    text-align: end;
}

#newsContent {
    background-color: var(--color-A-light-3);
    border: 1px solid var(--color-A-2);
    color: var(--color-A-dark-2);
    margin: 15px;
    margin-top: 20px;
    text-align: start;
    padding: 15px;
    overflow: hidden;
}

/* #newsTitle {
    font-size: 30px;
    font-style: italic;
} */