/* [variables] */

:root {
    --sidebar-width: 250px
}

/* < Main Layout > */

#sidebar {
    width: var(--sidebar-width);
    background-color: var(--color-A-light-4);
    height: calc(100vh * 1.25);
    top: 0;
    position: fixed;
    border-right: solid 2px var(--color-A-2);
}

#sidebar-content {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sidebar-menu-category {
    font-size: 25px;
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
}

.sidebar-category-icon {
    width: 25px;
    height: 25px;
}

.sidebar-icon-holder {
    width: 100%;
}

.sidebar-icon-holder::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    margin-bottom: 6px;
    border-top: 2px solid;
}

.sidebar-icon-holder::before {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-left: -100%;
    margin-right: 10px;
    margin-bottom: 6px;
    border-top: 2px solid black;
}

.sidebar-menu-pages {
    width: 100%;
    text-align: left;
    padding: 0 15px;
}

.sidebar-category-panel {
    width: calc(100% - 10px);
    height: fit-content;
    margin: 0 5px 0px 5px;
    overflow: hidden;
    border: none;
    background: none;
    justify-content: center;
    font-size: 18px;
    transition: all 0.4s linear;
}

.sidebar-category-panel ul {
    list-style-type: none;
}

.sidebar-page-button {
    width: 100%;
    text-align: start;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0);
    transition: color .3s, background-color .3s;
    color: #775922;
    text-decoration: none;
}

.sidebar-page-button:hover {
    background-color: rgba(241, 211, 154, 255);
    color: #000000;
    font-weight: 700;
}

#content {
    width: calc(100% - var(--sidebar-width));
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: var(--sidebar-width);
}

#content-full {
    width: 100%;
    background-color: rgb(76, 112, 160);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#header {
    width: 100%;
    height: 80px;
    border-bottom: solid 2px var(--color-A-2);
    text-align: start;
    padding: 5px 15px;
}

#header-title {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 3px;
}

#page_content {
    padding: 5px;
}

#page_content .row {
    margin: 0px;
}

.line-horizontal {
    width: 100%;
    background-color: #000000;
    height: 2px;
    margin: 10px 0 20px 0;
}