#news-holder {
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content;
    grid-gap: 20px;
    padding: 40px;
}

.events-holder {
    display: grid;
    grid-template-columns: 800px 800px;
    grid-gap: 15px;
    padding: 10px 0 10px 10px;
}

.cardHolder {
    width: 300px;
    height: 340px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.cardHolder2 {
    padding: 0;
    margin-bottom: 4px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.list {
    padding: 5px;
}

.listCard {
    background-color: var(--color-A-light-4);
    border: solid 1px var(--color-A-2);
    padding: 10px 10px 5px 10px;
    cursor: pointer;
    height: 100%;
}

.lC-title {
    overflow: hidden;
    font-size: 20px;
    font-weight: 500;
    height: 70px;
    text-align: start;
    text-overflow: ellipsis;
    color: var(--color-B-dark-1);
    border-top: solid 2px var(--color-A-2);
    padding-top: 10px;
    margin-bottom: 10px;
}

.lC-date {
    text-align: end;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-A-dark-1);
}

.lC-icon {
    width: 100%;
    height: 210px;
    margin-bottom: 10px;
    border: 2px solid var(--color-A-1);
    overflow: hidden;
}

.lC-icon img {
    max-height: 100%;
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 50%;
}

.listCard-horizontal {
    background-color: var(--color-A-light-4);
    border: 1px solid var(--color-A-2);
    margin: 0px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.listCard-horizontal-card {
    padding: 7.5px 10px;
    height: 60px;
}

.listCard-horizontal-collapsing {
    padding: 0 18px;
    background-color: var(--color-A-light-4);
    color: var(--color-A-dark-2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 5px 5px;
}

.lC-name {
    overflow: hidden;
    font-size: 25px;
    text-overflow: ellipsis;
    float: left;
    margin-top: 4px;
    color: var(--color-A-dark-2);
}

.lC-date2 {
    overflow: hidden;
    font-size: 25px;
    margin-top: 4px;
    text-align: start;
    text-overflow: ellipsis;
    float: right;
    color: var(--color-A-dark-2);
}

.lC-icon2 {
    size: 45px;
    width: 45px;
    float: left;
    margin-right: 10px;
}

.events-month-name {
    color: var(--color-B-dark-1);
    font-size: 30px;
    font-weight: 500;
    overflow: hidden;
}

.events-month-group {
    margin: 20px 10px 0 15px;
    text-align: start;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.events-month-name::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 15px;
    margin-bottom: 6px;
    border-top: 2px solid var(--color-A-2);
}

.show {
    visibility: visible;
    opacity: 1;
}

.filter-holder {
    text-align: start;
    margin: 20px 20px;
}

.filter-button {
    background-color: var(--color-A-light-4);
    border: 1px solid var(--color-A-2);
    border-radius: 15px;
    height: 32px;
    font-size: 20px;
    color: var(--color-A-dark-2);
    padding: 0 20px;
}

.filter-button:hover {
    background-color: var(--color-A-light-3);
}

.filter-button:active {
    background-color: var(--color-A-1);
}

.filter-button:disabled {
    background-color: var(--color-A-2);
}