/* --- Profile Button --- */

#profileButton {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 60px;
    background-color: var(--color-B-dark-1);
    color: var(--color-A-light-3);
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    max-width: 60px;
    min-width: 60px;
    overflow: hidden;
    transition: max-width 0.4s ease-in-out;
    z-index: 250;
}

#profileButton>table {
    width: 100%;
}

#profile-nameholder {
    padding-right: 15px;
    padding-left: 5px;
    font-size: 20px;
    padding-bottom: 3px;
    white-space: nowrap;
}

#profileButton:hover {
    border-radius: 15px;
    background-color: var(--color-B-dark-2);
}

.profileIcon {
    width: 30px;
    height: 30px;
    transition: all .1s;
    animation-duration: 1s;
    margin: 7px;
    margin-top: 12px;
}