[data-theme='dark'] {
    --color-A-light-1: #827f7b;
    --color-A-light-2: #84807d;
    --color-A-light-3: #807971;
    --color-A-light-4: #696663;

    --color-A-1: #32312e;
    --color-A-2: #d4cbba;

    --color-A-dark-1: #e9e0d2;
    --color-A-dark-2: #d2cac0;

    --color-B-light-1: #A7AAD1;
    --color-B-light-2: #B790D1;

    --color-B-dark-1: #d0c3ff;
    --color-B-dark-2: #d5b8f5;
}